* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="checkbox"] {
  outline: none;
}
