@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf");
}

.container {
  background: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  font-family: "Ubuntu";
}

/*header*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 79px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  margin-bottom: 15px;
}

.title {
  transition: 300ms;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
}

.title:hover {
  color: #01813f;
}

/*header icons*/

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

svg {
  margin-right: 26px;
  fill: #3cb878;
}

.nav__icon {
  transition: 100ms ease-in-out;
}

.nav__icon:hover {
  fill: #3cb878;
}

.registration {
  border-left: 1px solid rgba(255, 255, 255, 0.447);
  padding-left: 27px;
}

.registration__decoration:hover {
  color: #01813f;
  transition: 300ms;
}

/*main*/

.main {
  margin: 0 auto;
  top: 44%;
  width: 444px;
  transform: translateY(-50%);
  background-color: white;
  padding-top: 29px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.square-wrapper {
  position: absolute;
  left: 0;
  top: 29px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 60px 20px;
}

.form__text {
  padding-bottom: 15px;
}

.log-in {
  color: #3cb878;
}

.form__text,
.authorization,
.form__sign-up {
  display: flex;
  justify-content: space-between;
}

.facebook-wrapper {
  background-color: #305db8;
  padding: 12px 22px;
  border-radius: 3px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 160px;
}

.f {
  font-size: 24px;
  font-weight: bold;
  border-right: 1px solid #0a162f2e;
  padding-right: 17px;
}

.facebook {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.facebook-wrapper:hover {
  background-color: #022263;
}

.google-wrapper {
  background-color: #df4a32;
  padding: 12px 22px;
  border-radius: 3px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 160px;
}

.g {
  font-size: 24px;
  font-weight: bold;
  border-right: 1px solid #2b0d091e;
  padding-right: 10px;
}

.google {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.google-wrapper:hover {
  background-color: #ab1f09;
}

.or-wrapper {
  padding-top: 32px;
  padding-bottom: 11px;
}

.or {
  color: #848484;
  font-size: 14px;
  line-height: 14px;
}

.or-line {
  padding-bottom: 3px;
}

.form__sign-up {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 374px;
}

.sign-up-item {
  width: 322px;
  height: 44.08px;
  border: 1px solid #f2f2f2;
  padding: 15px 19px;
  border-radius: 4px;
  opacity: 0.6;
}

.sign-up-item:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
}

.terms {
  color: #3cb878;
}

.terms:hover,
.log-in:hover {
  color: #01813f;
  text-decoration: underline;
}

.checkbox-wrapper {
  display: flex;
  height: 20px;
}

.check {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin-bottom: 5px;
}

.check + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
  margin-right: 8px;
  margin-top: 3px;
}

.check:checked + label::before {
  content: "";
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.check:checked + label:hover::before {
  content: "";
  background-image: url(../images/check2.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.button-wrapper {
  background-color: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  width: 324px;
  height: 46px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 16px;
  margin-top: 20px;
}

.button-wrapper:hover {
  background-color: #01813f;
}
